body {background-color: #F8F7FF}/*or any color of your choosing*/

/* ---------- Year 2 ----------- */

/* In your main.css add an attribute of font-family: fantasy; to all elements that have a class that matches your pet's class
 */
.owl {
    font-family: fantasy;
  }  

/* ---------- Year 3 ----------- */
/* In CSS, give the items with a class of "secret" an attribute of opacity: 0.5;: */
.secret {
    opacity: 0.5;
  }

/* In CSS, remove the bullet points from the list items: */
ul {
    list-style-type: none;
  }

  /* ---------- Year 4 ----------- */

  /* In your main.css file, add a gray 1px solid border around your table, th elements and td elements */
  table {
    border: 1px solid gray;
    border-collapse: collapse;
    margin: 0 auto; /* Center the table on the page */
  }
  
  /* In your main.css file, add a rule that will center your table on the page */
  th, td {
    border: 1px solid gray;
  }

  /* ---------- Year 6 ----------- */

  /* Add a CSS attribute for elements with class 'cabbage' in main.css */
  
  .cabbage {
    color: CHARTREUSE;
  }
  
  